/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #666;
     font-size: 14px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}

/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 100%;
}

header {
     width:100%;
     background: #333;
     /* position:fixed;*/
}

#navigation {
     float:right;
     margin-right: 40px;
}

footer {
     clear:both;
     color:white;
     background:#333;
     text-align: center;
     padding:20px;
}

#overlay {
    display:none;    
    position:fixed;  
    left:0px;        
    top:0px;         
    width:100%;      
    height:100%;     
    background:#000; 
    opacity:0.5;     
    z-index:99999;   
}

#popup, #sorry {
    display:none;
    position:fixed;
    left:50%;        
    top:50%;         
    width:60%;     
    text-align:center;
    padding:50px;
    margin-top:-20%;
    margin-left:-30%;
    background:#FFFFFF;
    z-index:100000;      
}

.show {
    display:block;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

/* HEADER */

header h1, header h2 {
     display:inline-block;
     color:white;
}

header h1 {
     font-size:1.7em;
     text-transform: uppercase;
     letter-spacing:3px;
     margin:14px 0px 8px 20px;
}

header h2 {
     display:none;
     font-size:1.2em;
     font-weight: normal;
     margin:14px 0px 8px 20px;
}

h1 {
     font-size:2em;
}

h2 {
     font-size:1.5em;
}

h3 {
     font-size:1.25em;
}

#createTrip h3, #popup h2, #sorry h2 {
     text-align:center;
}

#createTrip h3 {
     margin:16px 0 10px 0;
}

#popup h2, #sorry h2 {
     font-size:2em;
     text-transform: uppercase;
}

h4 {
     font-size:1.25em;
     margin:0;
}


/* TEXT */

p {
     font-size:1.1em;
     line-height:1.75em;
     margin-bottom:8px;
}

#popup p, #sorry p {
     font-size:1.25em;
}

a {
     color:#00d8a2;
     text-decoration:none; 
}

a:hover {
     color:#666;
}

.highlight {
    display:block;
    background: rgba(0, 216, 162, 0.29);
    padding: 5px 10px;
    border-bottom: 1px dotted #666;
}

.fa-times-circle-o {
     float:right;
     top:10px;
     right:10px;
     position:absolute;
}

.fa {
     padding:10px;
}

/* NAVIGATION */

nav ul  {
     margin:0;
     padding:0;
}

#navigation li,
footer nav li {
     display:inline-block;
}

#navigation li a,
footer nav li a  {
     display:block;
     color:white;
     text-decoration:none;
     text-transform: uppercase;
}

#navigation li a {
     color:white;
     font-size:0.8em;
     padding:20px 20px;
}

#navigation li a:hover {
     background:#00d8a2;
}

#navigation li a,
#navigation li a:hover {
     transition:0.3s ease-in-out;
}    

/* MAP AREA */

#userTrip, #map {
     height:93vh;
}

#mapArea {
     border:0;
     width:100%;
     height:100%;
}

#map {
     display:block;
     float:left;
     margin-left:0px;
     width:80%;
     /* margin-top:59px; only if header fixed*/ 
}


/* LEFT PANEL */

#userTrip {
     display:block;
     float:left;
     width:20%;
     max-width:300px;
     overflow-y:scroll;
     border-right: 1px solid #dedede;
}

#createTrip {
     padding: 50px 30px 0 30px;
     width:100%;
     margin:0 auto;
     padding:2vh 30px;
}

#directions {
    padding:10px;
}

/* INPUT */

input {
     width:100%;
     font-size:1.25em;
     height:40px;
     padding:10px;
     margin:20px 0 10px 0;
     border:none;
}

input[type="text"] {
     border-bottom: 2px solid #dedede;
}

input[type="text"]:focus {
     border-bottom: 2px solid #00d8a2;
     outline: none;
}

select {
     width:100%;
     font-size:1.25em;
     height:40px;
     padding:10px;
     margin:20px 0 10px 0;
     border:none;
}

select:focus {
    outline:none;
}

a, a:hover,
#go, #go:hover,
#close, #close:hover,
input[type="text"], input[type="text"]:focus {
     transition:200ms ease-in-out;
}

#go {
     background:#00d8a2;
     color:white;
     border-bottom:2px solid #00a377;
     border-radius:2px;
}

#go:hover {
     background:#00a377;
}

.mode {
    text-transform: lowercase;
}

/* BETWEEN DESKTOP AND TABLET */

@media (min-device-width:768px) and (max-width:900px) {

     #userTrip {
          width:40%;
     }
     #map {
          width:60%;
          height:90vh;
     }
}

/* TABLET */

@media (min-width:601px) and (max-width:767px)  {

    #popup, #sorry {
          width:90%;
          padding:50px;
          margin-top:-25%;
          margin-left:-45%; 
     }
     #userTrip {
          width:40%;
     }
     #map {
          width:60%;
          height:90vh;
     }
     #userTrip {
          height:auto;
          border-right: 1px solid #dedede;
     }
     #navigation li a {
          text-align: center;   
     }
}

/* MOBILE */

@media only screen and (max-width:600px) {

     #popup, #sorry {
          width:90%;
          padding:50px;
          margin-top:-65%;
          margin-left:-45%; 
     }
     #userTrip, #map {
          width:100%;
          max-width: 100%;
     }
     #userTrip {
          height:auto;
          border-right: 1px solid #dedede;
     }
     #map {
          height:90vh;
     }
     #navigation {
          float:right;
          margin:0;
     }
     #navigation li a {
          width:30vw;
          text-align: center;
          padding: 16px 5px;
     }
     #navigation li:last-child, #navigation li:nth-child(3) {
          display:none;
     }
     header h1 {
          text-align: center;
          display:inline-block;
          width:30vw;
          padding:7px;
          margin:0;
          margin-left:2vw;
     }
}







